$color1: #1c1d21;
$color2: #9c9c9c;
$color3: #3e4244;
$color4: #1e55a9;
$color5: #f2f2f2;
$color6: #4acbd3;
$color7: #8181a5;
$color8: #dbdbdb;
$color9: #3bb2bb;
$color10: rgba(93, 142, 146, 0.08);
$color11: #eeeeee80;
$color12: rgba(75, 84, 88, 0.3);
$color13: #4acbd3;
$color14: rgba(62, 66, 68, 0.25);
$color15: rgba(30, 85, 169, 0.08);
$color16: rgba(77, 213, 222, 0.08);
$color17: rgba(234, 234, 234, 0.29);
$color18: rgba(242, 242, 242, 0.8);
$color19: #504b70;
$color20: #f2f6f6;
$color21: rgba(30, 85, 169, 0.2);
$color22: #5e81f4;
$color23: #eca0a0;
$color24: #4b40d1;
$color25: rgba(145, 150, 153, 1);
$color26: rgba(0, 0, 0, 0.87);
$color27: #e3e5e6;
$color28: #f0f0f3;
$color29: rgba(62, 66, 68, 1);
$color30: #f5f5fa66;
$color31: #7e8876;
$color32: #c26666;
$color33: #ececf2;
$color34: #4b5458;
$color35: #f0f3f3;
$color36: #f5f5fa;
$color37: #4dd5de;
$color38: #ff808b;
$color39: #25213b;
$color40: #eaeaea;
$color41: #7d859a;
$color42: #979797;
$color43: #e9ebf0;
$color50: rgba(50, 58, 70, 1);
$color51: rgba(141, 145, 152, 1);
$color52: #e0e0e0;
$color53: rgba(216, 216, 216, 0.25);
$color54: rgba(255, 255, 255, 1);
$color55: rgba(125, 133, 154, 0.08);
$color56: #5e6366;
$color57: rgba(196, 196, 196, 0.2);
$color58: rgba(242, 242, 242, 0.3);
$color59: rgba(151, 151, 151, 0.3);
$color60: #a4a7ad;
$color61: #111827;
$color62: #6b7280;
$color63: #d9cc9e;
$color64: rgba(33, 33, 33, 0.08);
$color65: rgba(0, 0, 0, 0.04);
$color66: rgba(158, 111, 116, 0.08);
$color67: rgba(154, 142, 98, 0.08);
$color68: rgba(159, 168, 144, 0.08);
$color69: #8d9198;
$color70: rgba(49, 66, 109, 0.04);
$color71: #1507bb;
$color72: #0a377c;
$color73: rgba(30, 85, 169, 0.15);
$color74: rgba(64, 115, 193, 0.38);
$color75: rgba(153, 155, 168, 0.1);
$color76: #46474c;
$color77: #98999b;
$color78: rgba(255, 128, 139, 0.08);
$color80: #d1d3d6;
$color81: #bdbdbd;
$color82: #00ca72;
$color83: #e44258;
$color84: rgba(216, 216, 216, 0.4);
$color85: #164182;

$color101: #ecf0f3;
$color102: rgba(209, 217, 230, 0.7);
$color103: rgba(255, 255, 255, 0.6);
$color104: #eca0a0;
$color105: #f54545;
$color106: #2bbfc7;
$color107: #0c88a4;
$color108: #1e55a9;
$color109: #0d3a7d;
$color110: rgba(255, 255, 255, 0.5);
$color111: rgba(110, 161, 176, 0.08);
$color112: rgba(67, 86, 154, 0.08);
$color113: rgba(218, 226, 235, 0.9);
$color114: rgba(255, 255, 255, 0.25);
$color115: #f4f6f8;
$color116: #cad4e3;
$color117: #b1c2db;
$color118: #dfe5ec;
$color119: rgba(218, 226, 235, 0.8);
$color120: #dce2eb;
$color121: #dbe2ea;
$color122: #dfe5ed;
$color123: #dbe1ea;
$color124: #d1d9e6;
$color125: #d9e0ea;
$color126: #dbe2eb;
$color127: rgba(0, 0, 0, 0.25);
$color128: #dce3eb;
$color129: rgba(30, 85, 169, 0.6);
$color130: #abbbc2;
$color131: #626262;
$color140: rgba(255, 255, 255, 0.4);

$color150: rgba(202, 212, 227, 0.7);
